
h1 {
    font-weight: 900;
}

body {
    background-color: lightblue;
}


h1 {
    font-family: 'Fondamento';
	text-align:center ;
}

p {
    font-family: 'Fondamento';
	
		text-align:center ;
	
}


